footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: auto;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  }
  