body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

.App {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  padding: 20px;
}

header, footer {
  background-color: var(--header-footer-bg-color);
  color: var(--header-footer-text-color);
  padding: 10px;
  text-align: center;
}

footer {
  margin-top: auto;
}

.main {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-top: 40px;
}

.task-controls, .filter-controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.task-controls input, .filter-controls input {
  margin-bottom: 10px;
}

/* Duyarlı Tasarım (Responsive Design) için Medya Sorguları */
@media (max-width: 768px) {
  .task-controls, .filter-controls {
    flex-direction: column;
  }

  .task-controls input, .filter-controls input {
    width: 100%;
  }
}

@media (max-width: 480px) {
  header, footer {
    font-size: 14px;
    padding: 5px;
  }

  .main {
    padding: 10px;
  }
}

/* Temalar */
:root {
  --primary-color-light: #add8e6; 
  --background-color-light: #ffffff; 
  --text-color-light: #000000; 

  --primary-color-dark: #4b0082; 
  --background-color-dark: #121212; 
  --text-color-dark: #e0e0e0; 

  --button-bg-color: #007bff; 
  --button-text-color: #ffffff; 
}

body.light-theme {
  --background-color: #00ff88;
  --text-color: #ffffff;
  --header-footer-bg-color: #005822;
  --header-footer-text-color: #ffffff;
  --button-bg-color: #005822;
  --button-text-color: #ffffff;
}

body.dark-theme {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --header-footer-bg-color: #4b0082;
  --header-footer-text-color: #000000;
  --button-bg-color: #4b0082;
  --button-text-color: #000000;
}

button {
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

button:hover {
  opacity: 0.8;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--primary-color);
}

li span {
  margin-left: 10px;
}

li button {
  margin-left: 10px;
}

/* TaskList İçin Stil */
.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 5px;
}
